# Chapter 2: Overview of the Data Mining Process

Import Libraries

In [1]:
%matplotlib inline
from pathlib import Path
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score
from sklearn.linear_model import LinearRegression

import matplotlib.pylab as plt

## Data Exploration
Load the West Roxbury data set

In [2]:
housing_df = pd.read_csv('WestRoxbury.csv')

Determine the shape of the data frame. It has 5802 rows and 14 columns

In [3]:
housing_df.shape

(5802, 14)

Show the top rows of the dataframe

In [4]:
housing_df.head(10)

,TOTAL VALUE,TAX,LOT SQFT,YR BUILT,GROSS AREA,LIVING AREA,FLOORS,ROOMS,BEDROOMS,FULL BATH,HALF BATH,KITCHEN,FIREPLACE,REMODEL
0,344.2,4330,9965,1880,2436,1352,2.0,6,3,1,1,1,0,None
1,412.6,5190,6590,1945,3108,1976,2.0,10,4,2,1,1,0,Recent
2,330.1,4152,7500,1890,2294,1371,2.0,8,4,1,1,1,0,None
3,498.6,6272,13773,1957,5032,2608,1.0,9,5,1,1,1,1,None
4,331.5,4170,5000,1910,2370,1438,2.0,7,3,2,0,1,0,None
5,337.4,4244,5142,1950,2124,1060,1.0,6,3,1,0,1,1,Old
6,359.4,4521,5000,1954,3220,1916,2.0,7,3,1,1,1,0,None
7,320.4,4030,10000,1950,2208,1200,1.0,6,3,1,0,1,0,None
8,333.5,4195,6835,1958,2582,1092,1.0,5,3,1,0,1,1,Recent
9,409.4,5150,5093,1900,4818,2992,2.0,8,4,2,0,1,0,None

## Cleanup
Preprocessing and cleaning up data is an important aspect of data analysis. 

Show the column names.

In [5]:
housing_df.columns

Index(['TOTAL VALUE ', 'TAX', 'LOT SQFT ', 'YR BUILT', 'GROSS AREA ',
       'LIVING AREA', 'FLOORS ', 'ROOMS', 'BEDROOMS ', 'FULL BATH',
       'HALF BATH', 'KITCHEN', 'FIREPLACE', 'REMODEL'],
      dtype='object')

Note that some column titles end with spaces and some consist of two space separated words. For further analysis it's more convenient to have column names which are single words.

In [6]:
housing_df = housing_df.rename(columns={'TOTAL VALUE ' : 'TOTAL_VALUE'})
housing_df.columns

Index(['TOTAL_VALUE', 'TAX', 'LOT SQFT ', 'YR BUILT', 'GROSS AREA ',
       'LIVING AREA', 'FLOORS ', 'ROOMS', 'BEDROOMS ', 'FULL BATH',
       'HALF BATH', 'KITCHEN', 'FIREPLACE', 'REMODEL'],
      dtype='object')

We therefore strip trailing spaces and replace the remaining spaces with an underscore _. Instead of using the `rename` method, we create a modified copy of `columns` and assign to the `columns` field of the dataframe.

In [7]:
housing_df.columns = [ s.strip().replace(' ','_') for s in housing_df.columns]
housing_df.columns

Index(['TOTAL_VALUE', 'TAX', 'LOT_SQFT', 'YR_BUILT', 'GROSS_AREA',
       'LIVING_AREA', 'FLOORS', 'ROOMS', 'BEDROOMS', 'FULL_BATH', 'HALF_BATH',
       'KITCHEN', 'FIREPLACE', 'REMODEL'],
      dtype='object')

In [8]:
housing_df.columns.str.lower()

Index(['total_value', 'tax', 'lot_sqft', 'yr_built', 'gross_area',
       'living_area', 'floors', 'rooms', 'bedrooms', 'full_bath', 'half_bath',
       'kitchen', 'fireplace', 'remodel'],
      dtype='object')

## Accessing subsets of the data
Pandas uses two methods to access rows in a data frame; `loc` and `iloc`. The `loc` method is more general and allows accessing rows using labels. The `iloc` method on the other hand only allows using integer numbers. To specify a range of rows use the slice notation, e.g. `0:9`.

To show the first four rows of the data frame, you can use the following commands.

In [9]:
housing_df.loc[0:3]

,TOTAL_VALUE,TAX,LOT_SQFT,YR_BUILT,GROSS_AREA,LIVING_AREA,FLOORS,ROOMS,BEDROOMS,FULL_BATH,HALF_BATH,KITCHEN,FIREPLACE,REMODEL
0,344.2,4330,9965,1880,2436,1352,2.0,6,3,1,1,1,0,None
1,412.6,5190,6590,1945,3108,1976,2.0,10,4,2,1,1,0,Recent
2,330.1,4152,7500,1890,2294,1371,2.0,8,4,1,1,1,0,None
3,498.6,6272,13773,1957,5032,2608,1.0,9,5,1,1,1,1,None

In [10]:
housing_df.iloc[0:4]

,TOTAL_VALUE,TAX,LOT_SQFT,YR_BUILT,GROSS_AREA,LIVING_AREA,FLOORS,ROOMS,BEDROOMS,FULL_BATH,HALF_BATH,KITCHEN,FIREPLACE,REMODEL
0,344.2,4330,9965,1880,2436,1352,2.0,6,3,1,1,1,0,None
1,412.6,5190,6590,1945,3108,1976,2.0,10,4,2,1,1,0,Recent
2,330.1,4152,7500,1890,2294,1371,2.0,8,4,1,1,1,0,None
3,498.6,6272,13773,1957,5032,2608,1.0,9,5,1,1,1,1,None

Show the first ten rows of the first column

In [11]:
housing_df.iloc[0:10]['TOTAL_VALUE']

0    344.2
1    412.6
2    330.1
3    498.6
4    331.5
5    337.4
6    359.4
7    320.4
8    333.5
9    409.4
Name: TOTAL_VALUE, dtype: float64

In [12]:
housing_df['TOTAL_VALUE'].iloc[0:10]

0    344.2
1    412.6
2    330.1
3    498.6
4    331.5
5    337.4
6    359.4
7    320.4
8    333.5
9    409.4
Name: TOTAL_VALUE, dtype: float64

In [13]:
housing_df.iloc[0:10].TOTAL_VALUE

0    344.2
1    412.6
2    330.1
3    498.6
4    331.5
5    337.4
6    359.4
7    320.4
8    333.5
9    409.4
Name: TOTAL_VALUE, dtype: float64

Show the fifth row of the first 10 columns. The `iloc` methods allows specifying the rows and columns within one set of brackets. `dataframe.iloc[rows, columns]`

In [14]:
housing_df.iloc[4:5,0:10]

,TOTAL_VALUE,TAX,LOT_SQFT,YR_BUILT,GROSS_AREA,LIVING_AREA,FLOORS,ROOMS,BEDROOMS,FULL_BATH
4,331.5,4170,5000,1910,2370,1438,2.0,7,3,2

If you prefer to preserve the data frame format, use a slice for the rows as well.

Use the `pd.concat` method if you want to combine non-consecutive columns into a new data frame. The `axis` argument specifies the dimension along which the concatenation happens, 0=rows, 1=columns.

In [15]:
pd.concat([housing_df.iloc[4:6,0:2],housing_df.iloc[4:6,7:9]],axis=1)

   TOTAL_VALUE   TAX  ROOMS  BEDROOMS
4        331.5  4170      7         3
5        337.4  4244      6         3

We can subset the column using a slice

Pandas provides a number of ways to access statistics of the columns.

In [16]:
housing_df['TOTAL_VALUE'].describe()

count    5802.000000
mean      392.685715
std        99.177414
min       105.000000
25%       325.125000
50%       375.900000
75%       438.775000
max      1217.800000
Name: TOTAL_VALUE, dtype: float64

In [17]:
housing_df.describe()

,TOTAL_VALUE,TAX,LOT_SQFT,YR_BUILT,GROSS_AREA,LIVING_AREA,FLOORS,ROOMS,BEDROOMS,FULL_BATH,HALF_BATH,KITCHEN,FIREPLACE
count,5802.000000,5802.000000,5802.000000,5802.000000,5802.000000,5802.000000,5802.000000,5802.000000,5802.000000,5802.000000,5802.000000,5802.00000,5802.000000
mean,392.685715,4939.485867,6278.083764,1936.744916,2924.842123,1657.065322,1.683730,6.994829,3.230093,1.296794,0.613926,1.01534,0.739917
std,99.177414,1247.649118,2669.707974,35.989910,883.984726,540.456726,0.444884,1.437657,0.846607,0.522040,0.533839,0.12291,0.565108
min,105.000000,1320.000000,997.000000,0.000000,821.000000,504.000000,1.000000,3.000000,1.000000,1.000000,0.000000,1.00000,0.000000
25%,325.125000,4089.500000,4772.000000,1920.000000,2347.000000,1308.000000,1.000000,6.000000,3.000000,1.000000,0.000000,1.00000,0.000000
50%,375.900000,4728.000000,5683.000000,1935.000000,2700.000000,1548.500000,2.000000,7.000000,3.000000,1.000000,1.000000,1.00000,1.000000
75%,438.775000,5519.500000,7022.250000,1955.000000,3239.000000,1873.750000,2.000000,8.000000,4.000000,2.000000,1.000000,1.00000,1.000000
max,1217.800000,15319.000000,46411.000000,2011.000000,8154.000000,5289.000000,3.000000,14.000000,9.000000,5.000000,3.000000,2.00000,4.000000

A data frame also has the method `describe` that prints a number of common statistics

## Sampling
Use the `sample` method to retrieve a random sample of observations. Here we sample 5 observations without replacement.

In [18]:
housing_df.sample(5)

,TOTAL_VALUE,TAX,LOT_SQFT,YR_BUILT,GROSS_AREA,LIVING_AREA,FLOORS,ROOMS,BEDROOMS,FULL_BATH,HALF_BATH,KITCHEN,FIREPLACE,REMODEL
1603,591.8,7444,7465,2004,3908,2402,2.0,8,4,2,1,1,1,None
196,282.2,3550,4392,1914,2773,1568,2.0,7,3,1,0,1,0,None
2788,505.3,6356,10000,1890,4458,2762,2.0,12,6,2,1,1,0,Recent
2160,400.0,5032,5974,1930,2474,1524,2.0,7,3,1,0,1,1,Recent
879,227.6,2863,3577,1920,2967,1565,1.5,7,4,1,0,1,0,None

The sample method allows to specify weights for the individual rows. We use this here to oversample houses with over 10 rooms.

In [19]:
weight = [0.5 if rooms >10 else 0.01 for rooms in housing_df.ROOMS]
housing_df.sample(5,weights=weight)

,TOTAL_VALUE,TAX,LOT_SQFT,YR_BUILT,GROSS_AREA,LIVING_AREA,FLOORS,ROOMS,BEDROOMS,FULL_BATH,HALF_BATH,KITCHEN,FIREPLACE,REMODEL
3246,642.7,8085,9375,1910,5749,3224,2.5,11,6,2,1,1,1,Old
4680,571.3,7186,7981,1886,4580,2480,2.0,11,6,2,1,1,1,None
4277,538.0,6768,8348,1964,3218,1914,2.0,14,4,2,2,1,1,None
3971,305.0,3836,6890,1940,1874,912,1.0,5,2,1,0,1,1,None
2856,511.3,6432,13950,1920,4173,2278,2.0,9,5,2,0,1,1,None

## Variable Types

In [20]:
housing_df.head()

,TOTAL_VALUE,TAX,LOT_SQFT,YR_BUILT,GROSS_AREA,LIVING_AREA,FLOORS,ROOMS,BEDROOMS,FULL_BATH,HALF_BATH,KITCHEN,FIREPLACE,REMODEL
0,344.2,4330,9965,1880,2436,1352,2.0,6,3,1,1,1,0,None
1,412.6,5190,6590,1945,3108,1976,2.0,10,4,2,1,1,0,Recent
2,330.1,4152,7500,1890,2294,1371,2.0,8,4,1,1,1,0,None
3,498.6,6272,13773,1957,5032,2608,1.0,9,5,1,1,1,1,None
4,331.5,4170,5000,1910,2370,1438,2.0,7,3,2,0,1,0,None

The REMODEL column is a factor, so we need to change it's type.

In [21]:
print(housing_df.REMODEL.dtype)

object

In [22]:
housing_df.REMODEL = housing_df.REMODEL.astype('category')
print(housing_df.REMODEL.dtype)

category

Other columns also have types.

In [23]:
housing_df.dtypes

TOTAL_VALUE     float64
TAX               int64
LOT_SQFT          int64
YR_BUILT          int64
GROSS_AREA        int64
LIVING_AREA       int64
FLOORS          float64
ROOMS             int64
BEDROOMS          int64
FULL_BATH         int64
HALF_BATH         int64
KITCHEN           int64
FIREPLACE         int64
REMODEL        category
dtype: object

It's also possible to the all columns data types

## Dummy / One Hot Encoding Variables
Pandas provides a method to convert factors into dummy variables.

In [24]:
housing_df = pd.get_dummies(housing_df, prefix='_',drop_first=True)
housing_df.head()

,TOTAL_VALUE,TAX,LOT_SQFT,YR_BUILT,GROSS_AREA,LIVING_AREA,FLOORS,ROOMS,BEDROOMS,FULL_BATH,HALF_BATH,KITCHEN,FIREPLACE,__Old,__Recent
0,344.2,4330,9965,1880,2436,1352,2.0,6,3,1,1,1,0,0,0
1,412.6,5190,6590,1945,3108,1976,2.0,10,4,2,1,1,0,0,1
2,330.1,4152,7500,1890,2294,1371,2.0,8,4,1,1,1,0,0,0
3,498.6,6272,13773,1957,5032,2608,1.0,9,5,1,1,1,1,0,0
4,331.5,4170,5000,1910,2370,1438,2.0,7,3,2,0,1,0,0,0

## Handling Missing Data
To illustrate missing data procedures, we first convert a few entries for bedrooms to NA's. Then we impute these missing values using the median of the remaining values.

In [25]:
reduced_df = housing_df.dropna()

Replace the missing values using the median of the remaining values.

In [26]:
bedroom_median = housing_df['BEDROOMS'].median()

In [27]:
housing_bedroom = housing_df.BEDROOMS.fillna(bedroom_median)

## Normalizing / Scaling Data

The standardization of the dataset may give a <code>DataConversionWarning</code>. This informs you that the integer columns in the dataframe are automatically converted to real numbers (<code>float64</code>). This is expected and you can therefore ignore this warning. If you want to suppress the warning, you can explicitly convert the integer columns to real numbers</p>
<pre>
# Option 1: Identify all integer columns, remove personal loan, 
# and change their type
intColumns = [c for c in housing_df.columns if housing_df[c].dtype == 'int']
housing_df[intColumns] = housing_df[intColumns].astype('float64')
</pre>
Alternatively, you can suppress the warning as follows:
<pre>
# Option 2: use the warnings package to suppress the display of the warning
import warnings
with warnings.catch_warnings():
    warnings.simplefilter('ignore')
    norm_df = pd.DataFrame(scaler.fit_transform(housing_df), 
                       index=housing_df.index, columns=housing_df.columns)    
</pre>

In [28]:
#NORMALIZE
norm_df = (housing_df - housing_df.mean()) / housing_df.std()
norm_df.head()

,TOTAL_VALUE,TAX,LOT_SQFT,YR_BUILT,GROSS_AREA,LIVING_AREA,FLOORS,ROOMS,BEDROOMS,FULL_BATH,HALF_BATH,KITCHEN,FIREPLACE,__Old,__Recent
0,-0.488879,-0.488507,1.381019,-1.576690,-0.552998,-0.564458,0.710905,-0.691980,-0.271783,-0.568528,0.723202,-0.124803,-1.309337,-0.33356,-0.421381
1,0.200795,0.200789,0.116835,0.229372,0.207196,0.590121,0.710905,2.090325,0.909403,1.347035,0.723202,-0.124803,-1.309337,-0.33356,2.372738
2,-0.631048,-0.631176,0.457697,-1.298834,-0.713635,-0.529303,0.710905,0.699173,0.909403,-0.568528,0.723202,-0.124803,-1.309337,-0.33356,-0.421381
3,1.067927,1.068020,2.807392,0.562799,2.383704,1.759502,-1.536872,1.394749,2.090589,-0.568528,0.723202,-0.124803,0.460235,-0.33356,-0.421381
4,-0.616932,-0.616749,-0.478735,-0.743123,-0.627660,-0.405334,0.710905,0.003597,-0.271783,1.347035,-1.150021,-0.124803,-1.309337,-0.33356,-0.421381

In [29]:
#SCALING
scale_df = (housing_df - housing_df.min())/(housing_df.max() - housing_df.min())
scale_df.head()

,TOTAL_VALUE,TAX,LOT_SQFT,YR_BUILT,GROSS_AREA,LIVING_AREA,FLOORS,ROOMS,BEDROOMS,FULL_BATH,HALF_BATH,KITCHEN,FIREPLACE,__Old,__Recent
0,0.214953,0.215015,0.197472,0.934858,0.220237,0.177220,0.5,0.272727,0.250,0.00,0.333333,0.0,0.00,0.0,0.0
1,0.276420,0.276448,0.123156,0.967181,0.311878,0.307628,0.5,0.636364,0.375,0.25,0.333333,0.0,0.00,0.0,1.0
2,0.202283,0.202300,0.143194,0.939831,0.200873,0.181191,0.5,0.454545,0.375,0.00,0.333333,0.0,0.00,0.0,0.0
3,0.353702,0.353740,0.281323,0.973148,0.574253,0.439707,0.0,0.545455,0.500,0.00,0.333333,0.0,0.25,0.0,0.0
4,0.203541,0.203586,0.088145,0.949776,0.211237,0.195193,0.5,0.363636,0.250,0.25,0.000000,0.0,0.00,0.0,0.0

In [30]:
#NORMALIZE USING PYTHON
from sklearn.preprocessing import MinMaxScaler, StandardScaler

In [31]:
scaler = StandardScaler()

In [32]:
scale_df_sk = pd.DataFrame(scaler.fit_transform(housing_df))
scale_df_sk.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
0,-0.488921,-0.488550,1.381138,-1.576825,-0.553046,-0.564507,0.710966,-0.692039,-0.271806,-0.568577,0.723264,-0.124814,-1.309450,-0.333589,-0.421418
1,0.200812,0.200806,0.116845,0.229392,0.207214,0.590172,0.710966,2.090505,0.909482,1.347151,0.723264,-0.124814,-1.309450,-0.333589,2.372943
2,-0.631102,-0.631230,0.457736,-1.298946,-0.713696,-0.529349,0.710966,0.699233,0.909482,-0.568577,0.723264,-0.124814,-1.309450,-0.333589,-0.421418
3,1.068020,1.068112,2.807634,0.562847,2.383909,1.759654,-1.537005,1.394869,2.090769,-0.568577,0.723264,-0.124814,0.460275,-0.333589,-0.421418
4,-0.616985,-0.616802,-0.478777,-0.743187,-0.627714,-0.405369,0.710966,0.003597,-0.271806,1.347151,-1.150120,-0.124814,-1.309450,-0.333589,-0.421418

## Splitting Datasets
Split the dataset into training (60%) and validation (40%) sets. Randomly sample 60% of the dataset into a new data frame `trainData`. The remaining 40% serve as validation.

In [33]:
train_data = housing_df.sample(frac=0.6, random_state=1)

In [34]:
valid_data = housing_df.drop(train_data.index)

Partition the dataset into training (50%), validation (30%), and test sets (20%).

In [35]:
train_data2 = housing_df.sample(frac=0.5, random_state=1)

In [36]:
valid_data2 = housing_df.drop(train_data2.index).sample(frac=0.6, random_state=1)

In [37]:
test_data2 = housing_df.drop(valid_data2.index).drop(train_data2.index)
test_data2.shape

(1160, 15)

## Linear Regression
Let's create a linear regression model to predict TOTAL_VALUE

Exclude TAX from analysis

In [38]:
housing_df = pd.read_csv('WestRoxbury.csv')
housing_df.columns = [s.strip().replace(' ','_') for s in housing_df.columns]
housing_df.REMODEL = housing_df.REMODEL.astype('category')
housing_df= pd.get_dummies(housing_df, prefix_sep='_',drop_first=True)

In [39]:
exclude = ('TAX', 'TOTAL_VALUE')

In [40]:
predictors = [s for s in housing_df.columns if s not in exclude]

In [41]:
outcome='TOTAL_VALUE'

In [42]:
X = housing_df[predictors]

In [43]:
y = housing_df[outcome]

In [44]:
train_X, valid_X, train_y, valid_y = train_test_split(X,y, test_size=0.4, random_state=1)

In [45]:
model = LinearRegression()

In [46]:
model.fit(train_X, train_y)

LinearRegression()

In [47]:
valid_pred = model.predict(valid_X)

In [48]:
valid_pred

array([406.94637657, 362.88892824, 390.28720838, ..., 340.2816666 ,
       342.29171994, 365.01030078])

In [49]:
valid_results = pd.DataFrame({'TOTAL_VALUE' : valid_y,
                              'predicted' : valid_pred,
                              'residual' : valid_pred - valid_y})

In [50]:
valid_results.head()

      TOTAL_VALUE   predicted   residual
1822        462.0  406.946377 -55.053623
1998        370.4  362.888928  -7.511072
5126        407.4  390.287208 -17.112792
808         316.1  382.470203  66.370203
4034        393.2  434.334998  41.134998

Predict the validation data

## Error Metrics

In [ ]:
!pip install dmba

In [ ]:
from dmba import regressionSummary

In [ ]:
regressionSummary(valid_y, valid_pred)

Regression statistics

                      Mean Error (ME) : -0.1463
       Root Mean Squared Error (RMSE) : 42.7292
            Mean Absolute Error (MAE) : 31.9663
          Mean Percentage Error (MPE) : -1.0884
Mean Absolute Percentage Error (MAPE) : 8.3283