In [1]:
import pandas as pd
import numpy as np 
from sklearn.model_selection import train_test_split

In [3]:
df = pd.read_csv('ToyotaCorolla.csv')
df.shape

(1436, 39)

RANDOM SAMPLING

In [8]:
# Absolute Random Sampling
n_sample = df.sample(n=500, replace=False)
n_sample.shape

(500, 39)

In [6]:
frac_sample = df.sample(frac=0.3, replace=False)

In [7]:
frac_sample.shape

(431, 39)

In [9]:
df.groupby(['Fuel_Type'])['Fuel_Type'].count()

Fuel_Type
CNG         17
Diesel     155
Petrol    1264
Name: Fuel_Type, dtype: int64

In [10]:
n_sample.groupby(['Fuel_Type'])['Fuel_Type'].count()

Fuel_Type
CNG         5
Diesel     52
Petrol    443
Name: Fuel_Type, dtype: int64

In [11]:
frac_sample.groupby(['Fuel_Type'])['Fuel_Type'].count()

Fuel_Type
CNG         7
Diesel     48
Petrol    376
Name: Fuel_Type, dtype: int64

In [12]:
stratified_sample,_ = train_test_split(df,test_size=.7,stratify=df[['Fuel_Type']])

In [16]:
strat_sample = pd.DataFrame({
    'strat_n': stratified_sample.groupby(['Fuel_Type'])['Fuel_Type'].count(),
    'total_n': df.groupby(['Fuel_Type'])['Fuel_Type'].count(),
'pct_start': stratified_sample.groupby(['Fuel_Type'])['Fuel_Type'].count()/df.groupby(['Fuel_Type'])['Fuel_Type'].count()})
strat_sample

           strat_n  total_n  pct_start
Fuel_Type
CNG              5       17   0.294118
Diesel          46      155   0.296774
Petrol         379     1264   0.299842

In [13]:
stratified_sample

,Id,Model,Price,Age_08_04,Mfg_Month,Mfg_Year,KM,Fuel_Type,HP,Met_Color,...,Powered_Windows,Power_Steering,Radio,Mistlamps,Sport_Model,Backseat_Divider,Metallic_Rim,Radio_cassette,Parking_Assistant,Tow_Bar
25,26,TOYOTA Corolla 1.6 16V VVT I 3DR SOL 2/3-Doors,15950,25,8,2002,28450,Petrol,110,1,...,1,1,0,1,1,1,1,0,0,1
1425,1432,TOYOTA Corolla 1.3 Linea Terra sedan 4/5-Doors,7950,80,1,1998,34000,Petrol,86,1,...,0,0,0,0,0,0,0,0,0,0
547,550,TOYOTA Corolla 1.4 16V VVT I HATCHB TERRA 2/3-...,9950,55,2,2000,44537,Petrol,97,0,...,0,1,1,0,0,1,0,1,0,1
345,348,TOYOTA Corolla 1.6 16V VVT I HATCHB G6 4/5-Doors,14950,41,4,2001,28571,Petrol,110,0,...,1,1,0,1,0,1,1,0,0,0
913,917,TOYOTA Corolla 1.6 16V HATCHB G6 R 2/3-Doors,12950,67,2,1999,58058,Petrol,110,1,...,1,1,0,1,1,1,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16,17,TOYOTA Corolla 1.8 16V VVTLI 3DR T SPORT 2/3-D...,22750,30,3,2002,34000,Petrol,192,1,...,1,1,0,1,0,1,1,0,0,0
678,682,TOYOTA Corolla 1.6 16V WAGON LINEA LUNA Statio...,9895,68,1,1999,102494,Petrol,110,0,...,1,1,0,1,0,1,0,0,0,1
733,737,TOYOTA Corolla 1.6 16V SEDAN LINEA TERRA 4/5-D...,9250,68,1,1999,84976,Petrol,110,1,...,1,1,0,0,0,1,0,0,0,1
598,602,TOYOTA Corolla 1.4 16V VVT I HATCHB TERRA 2/3-...,10450,48,9,2000,15000,Petrol,97,1,...,0,1,0,0,0,1,0,0,0,0
1180,1186,TOYOTA Corolla 1.6 16V LIFTB LINEA LUNA 4/5-Doors,8250,77,4,1998,93000,Petrol,110,1,...,1,1,0,0,0,1,0,0,0,1

In [19]:
sys_sample = df.iloc[::10]
sys_sample

,Id,Model,Price,Age_08_04,Mfg_Month,Mfg_Year,KM,Fuel_Type,HP,Met_Color,...,Powered_Windows,Power_Steering,Radio,Mistlamps,Sport_Model,Backseat_Divider,Metallic_Rim,Radio_cassette,Parking_Assistant,Tow_Bar
0,1,TOYOTA Corolla 2.0 D4D HATCHB TERRA 2/3-Doors,13500,23,10,2002,46986,Diesel,90,1,...,1,1,0,0,0,1,0,0,0,0
10,11,TOYOTA Corolla 1.8 VVTL-i T-Sport 3-Drs 2/3-Doors,20950,25,8,2002,31461,Petrol,192,0,...,1,1,0,0,0,0,1,0,0,0
20,21,TOYOTA Corolla 1.6 16V VVT I 3DR TERRA 2/3-Doors,15950,30,3,2002,67660,Petrol,110,1,...,1,1,0,0,1,1,0,0,0,1
30,31,TOYOTA Corolla 1.4 VVTI Linea Terra 2/3-Doors,12950,29,4,2002,9750,Petrol,97,1,...,0,1,1,0,0,0,0,1,0,0
40,41,TOYOTA Corolla 1.4 16V VVT I 3DR 2/3-Doors,13950,22,11,2002,49059,Petrol,97,0,...,0,1,0,0,1,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1390,1397,TOYOTA Corolla 1.6 16V SEDAN LINEA TERRA AUT4 ...,8500,73,8,1998,52000,Petrol,110,1,...,1,1,0,0,0,0,0,0,0,1
1400,1407,TOYOTA Corolla LIFTBACK 1.6 Linea terra 4/5-Doors,7450,70,11,1998,47955,Petrol,110,1,...,0,1,1,0,0,0,0,1,0,0
1410,1417,TOYOTA Corolla 1.3 16V SEDAN LINEA TERRA 4/5-D...,8500,78,3,1998,43622,Petrol,86,1,...,0,1,0,0,0,0,0,0,0,0
1420,1427,TOYOTA Corolla 1.6 SDN LINEA TERRA AUT 4/5-Doors,8150,76,5,1998,36537,Petrol,110,0,...,0,0,0,0,0,0,0,0,0,0
1430,1437,TOYOTA Corolla 1.3 16V HATCHB LINEA TERRA 2/3-...,8450,80,1,1998,23000,Petrol,86,0,...,0,1,0,0,1,1,1,0,0,0

STATISTICAL TESTS

In [21]:
df.Price.mean()

10730.824512534818

In [22]:
df.groupby(['Fuel_Type'])['Price'].mean()

Fuel_Type
CNG        9421.176471
Diesel    11294.554839
Petrol    10679.310127
Name: Price, dtype: float64

null hypothesis: gas = diesel
alternative: diesel <> 16

In [25]:
diesel_price = df.loc[df['Fuel_Type']=='Diesel','Price']
diesel_price

0       13500
1       13750
2       13950
3       14950
4       13750
        ...
1195     8750
1202     6950
1216     8500
1320     9400
1330     8950
Name: Price, Length: 155, dtype: int64

In [27]:
gas_price = df.loc[df['Fuel_Type']=='Petrol','Price']
gas_price

8       21500
10      20950
11      19950
12      19600
13      21500
        ...
1431     7500
1432    10845
1433     8500
1434     7250
1435     6950
Name: Price, Length: 1264, dtype: int64

In [30]:
from scipy import stats as st

from statsmodels.stats import weightstats as stests

/usr/local/lib/python3.7/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [31]:
st.ttest_ind(diesel_price,gas_price,equal_var=True)

Ttest_indResult(statistic=1.9902401690446374, pvalue=0.04675635025672368)

In [32]:
stests.ztest(diesel_price,gas_price, value= 0)

(1.9902401690446374, 0.046564485327206896)

In [42]:
cng_prices = df.loc[df['Fuel_Type'] == 'CNG','Price']

Null Hypothesis: means are all equal
Althernative: different means

In [43]:
diesel_price.shape
gas_price.shape
cng_prices.shape

(17,)

In [45]:
from scipy.stats.mstats_basic import f_oneway
f_oneway(diesel_price.values,gas_price.values,cng_prices.values)

/usr/local/lib/python3.7/dist-packages/numpy/ma/core.py:6849: RuntimeWarning: overflow encountered in power
  result = np.where(m, fa, umath.power(fa, fb)).view(basetype)

F_onewayResult(statistic=3.1171479782774147, pvalue=0.044583699346313316)

we reject the null hypothesis which means that the means are different

In [23]:
df.isnull().sum()

Id                   0
Model                0
Price                0
Age_08_04            0
Mfg_Month            0
Mfg_Year             0
KM                   0
Fuel_Type            0
HP                   0
Met_Color            0
Color                0
Automatic            0
CC                   0
Doors                0
Cylinders            0
Gears                0
Quarterly_Tax        0
Weight               0
Mfr_Guarantee        0
BOVAG_Guarantee      0
Guarantee_Period     0
ABS                  0
Airbag_1             0
Airbag_2             0
Airco                0
Automatic_airco      0
Boardcomputer        0
CD_Player            0
Central_Lock         0
Powered_Windows      0
Power_Steering       0
Radio                0
Mistlamps            0
Sport_Model          0
Backseat_Divider     0
Metallic_Rim         0
Radio_cassette       0
Parking_Assistant    0
Tow_Bar              0
dtype: int64